<div class="content">
  <div class="container">
    <ul class="row">
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/group.jpg" alt="0">
          <div class="connect_link_full"><a href="group-detail.html"> EAT WELL LOSE WEIGHT </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/group.jpg" alt="0">
          <div class="connect_link_full"><a href="group-detail.html"> EAT WELL LOSE WEIGHT </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/group.jpg" alt="0">
          <div class="connect_link_full"><a href="group-detail.html"> EAT WELL LOSE WEIGHT </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/group.jpg" alt="0">
          <div class="connect_link_full"><a href="group-detail.html"> EAT WELL LOSE WEIGHT </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/group.jpg" alt="0">
          <div class="connect_link_full"><a href="group-detail.html"> EAT WELL LOSE WEIGHT </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/group.jpg" alt="0">
          <div class="connect_link_full"><a href="group-detail.html"> EAT WELL LOSE WEIGHT </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/group.jpg" alt="0">
          <div class="connect_link_full"><a href="group-detail.html"> EAT WELL LOSE WEIGHT </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/group.jpg" alt="0">
          <div class="connect_link_full"><a href="group-detail.html"> EAT WELL LOSE WEIGHT </a></div>
        </div>
      </li>

    </ul>
    <div class="text-right">
      <a href="business-page.html" class="btn btn-warning">Back to Home</a>
    </div>
  </div>
</div>