<div class="content">
  <div class="container">
    <div class="row">

      <div class="col-sm-9">
        <div class="panel panel-grey">
          <div class="panel-body">
            <div class="top-detail">
              <h3>True Food Kitchen</h3>
              <a class="like-product" href="#"><i class="fa fa-thumbs-o-up"></i> 6 likes</a>
            </div>
            <img src="images/food.jpg" width="100%">
          </div>
        </div>

        <div class="panel panel-grey">
          <div class="panel-body">
            <ul class="info-business">

              <li class="row">
                <div class="col-sm-3"><strong>Description:</strong></div>
                <div class="col-sm-9">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s<br><br>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s
                </div>
              </li>
              <li class="row">
                <div class="col-sm-3"><strong>Instruction:</strong></div>
                <div class="col-sm-9">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
              </li>
              <li class="row">
                <div class="col-sm-3"><strong>Nutrition:</strong></div>
                <div class="col-sm-9">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel panel-grey">
          <h4 class="panel-heading">LEAVE COMMENT</h4>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control">
                </div>

              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control">
                </div>

              </div>
            </div>
            <label>Comment</label>
            <textarea class="form-control" rows="4"></textarea>
          </div>
        </div>

        <div class="m20 text-right">
          <a href="#" class="btn btn-warning">Submit</a>
        </div>

        <div class="panel panel-grey">
          <h4 class="panel-heading">COMMENTS</h4>
          <div class="panel-body comment-list">
            <div class="bs-example" data-example-id="default-media">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="images/profile.png">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">John Doe</a> <span>on July 28, 2012</span></h4>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
              </div>

              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="images/profile.png">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">John Doe</a> <span>on July 28, 2012</span></h4>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" src="images/profile.png">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="#">John Doe</a> <span>on July 28, 2012</span></h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                  </div>
                </div>
              </div>

              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="images/profile.png">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">John Doe</a> <span>on July 28, 2012</span></h4>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object" src="images/profile.png">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="#">John Doe</a> <span>on July 28, 2012</span></h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


      </div>

      <div class="col-sm-3">

        <div class="panel panel-grey">
          <div class="panel-body">
            <p ><strong>Price:</strong> <span class="price-detail">$100</span></p>

            <div class="form-group"><a href="#" class="btn btn-grey btn-block" data-toggle="modal" data-target="#myModal">Rave</a></div>
            <p><strong>Type of Food:</strong> Sea Food</p>
            <p><strong>Special Discount:</strong> 10%</p>
          </div>
        </div>

        <div class="panel panel-grey">
          <div class="rslides_container slider-business slider-right">
            <ul class="rslides" id="slider2" fn-responsive-slider>
              <li>
                <a href="#"><img src="images/food.jpg" alt=""></a>
                <div class="text-slider-pro"><a href="#">True Food Kitchen</a></div>
                <a class="like-product" href="#"><i class="fa fa-thumbs-o-up"></i> 4 likes</a>
                <div class="price">$100</div>
              </li>
              <li>
                <a href="#"><img src="images/food1.jpg" alt=""></a>
                <div class="text-slider-pro"><a href="#">True Food Kitchen 1</a></div>
                <a class="like-product" href="#"><i class="fa fa-thumbs-o-up"></i> 1 likes</a>
                <div class="price">$200</div>
              </li>
              <li>
                <a href="#"><img src="images/food.jpg" alt=""></a>
                <div class="text-slider-pro"><a href="#">True Food Kitchen 2</a></div>
                <a class="like-product" href="#"><i class="fa fa-thumbs-o-up"></i> 6 likes</a>
                <div class="price">$300</div>
              </li>
              <li>
                <a href="#"><img src="images/food1.jpg" alt=""></a>
                <div class="text-slider-pro"><a href="#">True Food Kitchen 3</a></div>
                <a class="like-product" href="#"><i class="fa fa-thumbs-o-up"></i> 5 likes</a>
                <div class="price">$400</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>