@media screen and (max-width:1150px) {
.maincontentdiv {
	width: 940px;
	margin: 0 auto;
}
.content_left {
	float: left;
	width: 200px;
}
.content_main {
	width: 500px;
}
.input_type_file {
	float: none;
	width: auto;
}
.upload_img {
	margin-left: 0;
}
.container_form_holder {
	width: 100%;
}
.loadmore a {
	height: 270px;
	line-height: 270px;
}
.home_text {
	font: bolder 50px/60px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.pop_text_post2 {
	font: 20px/40px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.pop_text_post1 {
	font: 30px/40px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.seemore_store_holder {
	top: 90px;
}
}
@media screen and (max-width:950px) {
.maincontentdiv {
	width: 740px;
	margin: 0 auto;
}
.right_search select {
	width: 170px;
}
.top_right_part .right_search ~ .top_nav {
	margin-right: 30px;
}
.top_nav {
	margin-right: 200px;
}
.content_right {
	margin-left: 220px;
	float: none;
}
.featured_business ul li {
	width: 33.3333%;
}
.home_text {
	font: bolder 30px/40px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.pop_text_post2 {
	font: 18px/40px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.pop_text_post1 {
	font: 28px/40px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.seemore_store_holder {
	top: 70px;
}
.part2_how_it_work, .part2_how_it_work.last_child {
	float: none;
	width: 100%;
	margin-bottom: 15px;
}
}
@media screen and (max-width:750px) {
.maincontentdiv {
	width: 540px;
	margin: 0 auto;
}
.featured_business ul li {
	width: 50%;
}
.dining_out_main_part_left, .dining_out_main_part_right {
	float: none;
	width: 100%;
	margin-bottom: 15px;
}
.content_left {
	float: none;
	width: 300px;
	margin: 0 auto 15px;
}
.content_main {
	width: 100%;
	float: none;
	margin: 0 auto 15px;
}
.content_right {
	width: 300px;
	margin: 0 auto 15px;
}
.logo {
	text-align: center;
	float: none;
	padding: 10px 0;
}
.top_right_part {
	float: none;
}
.right_search {
	float: right;
	margin-top: 0px;
	padding-bottom: 5px;
}
.top_right_part .right_search ~ .top_nav, .top_nav {
	float: left;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}
.push {
	display: none;
}
.footer {
	height: auto;
}
.wrapper_main {
	margin: 0 auto;
}
.stape_by_stape ul li.stapemain a::before, .stape_by_stape ul li.stapemain a::after, .stape_by_stape ul li.stapemain a::before {
	display: none;
}
.stape_by_stape ul li a {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.loadmore a {
	height: 285px;
	line-height: 285px;
}
.right_nav {
	float: none;
	padding-bottom: 10px;
	padding-top: 0;
	text-align: center;
}
.right_nav ul li {
	margin: 0 15px;
}
.registration2 ul li a {
	width: 230px;
	height: 230px;
	line-height: 230px;
}
.home_text {
	padding-top: 60px;
}
.featured_posts_bg_left {
	float: none;
	width: 100%;
}
.featured_posts_bg_right {
	float: none;
	float: none;
	width: 100%;
}
.featured_posts_right_holder2 {
	width: 100%;
	float: none;
}
.seemore_store_holder {
	position: relative;
	top: 0;
	padding: 15px 0;
}
.part2_how_it_work {
	min-height: auto;
}
}
@media screen and (max-width:650px) {
.top_form {
	position: relative;
	margin: 0 0 20px;
}
.login_page {
	float: none;
	margin: 0 auto;
}
.home_text {
	color: #333;
	font: bolder 24px/32px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 20px 0 0;
	text-shadow: none;
}
}
@media screen and (max-width:550px) {
.maincontentdiv {
	width: 300px;
	margin: 0 auto;
}
.right_search {
	width: auto;
	float: none;
}
.right_search select {
	width: 100%;
}
.top_nav ul li {
	margin: 0 8px 0 0;
}
.featured_business ul li {
	width: 100%;
	float: none;
}
.recipe_holder_div_inn {
	margin: 15px;
}
.name_ifo_hours_holder_left {
	float: none;
	width: auto;
}
.name_ifo_hours_holder_right {
	margin: 0 0 10px;
}
.dining_out_type_of_business {
	width: 160px;
}
.dining_out_search_button {
	float: none;
	text-align: center;
}
.dining_out_search_button .but_submit {
	margin-top: 5px;
}
.dining_out_name_ifo_hours_holder_left, .dining_out_name_ifo_hours_holder_right {
	float: none;
	margin: 0;
}
.dining_out_main_holder_bottom_three {
	width: auto;
	margin-left: 10px;
}
.dining_out_main_holder_bottom_three.text_align_left, .dining_out_main_holder_bottom_three.text_align_center, .dining_out_main_holder_bottom_three.text_align_right {
	text-align: left;
}
.stape_by_stape ul li a {
	font-size: 16px;
}
.container_form_holder .form_class {
	width: 270px;
}
.registration2 ul li a {
	width: 130px;
	height: 130px;
	line-height: 130px;
	font-size: 18px;
}
.registration2 ul li {
	margin: 0 5px;
}
.gallery_holder {
	width: 33.333%;
}
.login_page {
	width: 300px;
}
.howitworks_part3 {
	float: none;
	width: 100%;
	padding: 40px 0;
}
.howitworks_arrow .fa-arrow-right:before {
	content: "\f063"
}
.howitworks_arrow {
	bottom: -15px;
	left: 50%;
	margin-left: -15px;
	position: absolute;
	right: auto;
	top: auto;
	z-index: 99;
}
}
