<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss()">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Create product</h4>
</div>
<div class="modal-body">
  <div class="form-grey">
    <form name="form" ng-submit="submit(form)" novalidate>
      <div class="form-group" ng-class="{'has-error': form.description.$invalid && submitted}">
        <input type="text" placeholder="Name" class="form-control input-lg"
               name="description" ng-model="product.description" required>
        <div class="help-block" ng-if="form.description.$error.required && submitted">This field is required</div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.price.$invalid && submitted}">
        <input type="text" placeholder="Price" class="form-control input-lg"
               name="price" ng-model="product.price" required
               fn-only-digits>
        <div class="help-block" ng-if="form.price.$error.required && submitted">This field is required</div>
      </div>
      <!--
      <div class="form-group">
          <textarea placeholder="Description" class="form-control input-lg" rows="4"></textarea>
      </div>
      <div class="form-group">
          <textarea name=""  placeholder="Instruction" class="form-control input-lg" rows="4"></textarea>

      </div>
      <div class="form-group">
          <textarea name=""  placeholder="Nutrition" class="form-control input-lg" rows="4"></textarea>
      </div>
      <div class="form-group">
          <select class="form-control"><option>Type of Food</option></select>
      </div>
      <div class="form-group">
          <textarea name=""  placeholder="Nutrition" class="form-control input-lg" rows="4"></textarea>
      </div>
      -->
      <div class="form-group text-center">
        <div class="file-upload">
          <button class="btn btn-grey">Upload Pictures</button>
          <input type="file" uploader="uploader" nv-file-select multiple>
          <div class="img-preview" ng-repeat="item in uploader.queue">
            <img ng-show="uploader.isHTML5" ng-thumb="item._file" width="100%" />
          </div>
        </div>

      </div>
      <div class="form-group">
        <input name="" type="submit" value="Submit" class="btn btn-warning btn-block btn-lg">
      </div>
    </form>

  </div>
</div>
