<configuration>
    <property resource="logConfig.${spring.profiles.active}.properties" />
    <!--file output-->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log.dir}/foodniche.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- std out -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--FoodNiche app classes logging level set to DEBUG-->
    <logger name="com.foodniche" level="debug"/>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>