<div class="content">
    <div class="container">
        <ul class="row">
            <li class="col-sm-3" ng-repeat="group in groups">
                <div class="profile_image_inn">
                    <img ng-src="{{ album.picture }}" alt="0">
                    <div class="connect_link_full"><a href="my-album-detail.html"> {{album.name}} </a></div>
                </div>
            </li>
        </ul>
        <div class="text-right">
            <a href="business-page.html" class="btn btn-warning">Back to Home</a>
        </div>
    </div>
</div>