<div class="skip_this">Follow 5+ business or groups and get started! or <span ng-click="skip()">SKIP THIS</span></div>

<ul class="row">
  <li class="col-sm-3" ng-repeat="group in groups">
    <div class="product-start">
      <img alt="0" src="images/img1.jpg">
      <div class="products_details_main">
        <div class="pop_icon"><i class="fa fa-group"></i></div>
        <h3><a href="#">{{group.name}}</a></h3>
        <p>{{group.description}}</p>
        <div class="holder_form sub_but_white"><a href="javascript:;" ng-click="joinGroup">Follow</a></div>
      </div>

    </div>
  </li>
  <!--<li class="col-sm-3">-->
    <!--<div class="holder_div_inn loadmore"> <a href="#">Load More +</a> </div>-->
  <!--</li>-->
</ul>