<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">


        <div class="profile-left m20">
          <div class="profile_image"><img src="images/group.jpg" alt="0"></div>
          Created by: <a href="#">Jessica</a>
        </div>
        <div class="panel panel-grey">
          <h4 class="panel-heading">Group Members</h4>
          <div class="panel-body" style="padding-bottom: 0px;">
            <ul class="row list-group">
              <li class="col-sm-6">
                <a href="profile-user.html"><img src="images/member.jpg"></a>
              </li>
              <li class="col-sm-6">
                <a href="profile-user.html"><img src="images/member.jpg"></a>
              </li>
              <li class="col-sm-6">
                <a href="profile-user.html"><img src="images/member.jpg"></a>
              </li>
              <li class="col-sm-6">
                <a href="profile-user.html"><img src="images/member.jpg"></a>
              </li>
              <li class="col-sm-6">
                <a href="profile-user.html"><img src="images/member.jpg"></a>
              </li>
              <li class="col-sm-6">
                <a href="profile-user.html"><img src="images/member.jpg"></a>
              </li>
              <li class="col-sm-6">
                <a href="profile-user.html"><img src="images/member.jpg"></a>
              </li>
              <li class="col-sm-6">
                <a href="profile-user.html"><img src="images/member.jpg"></a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-sm-9">
        <div class="panel panel-grey">
          <div class="panel-body">
            <h4 style="margin-top: 0px">{{group.name}}</h4>
            {{group.description}}
          </div>
        </div>
        <div fn-create-content="group" fn-create-content-id="group.groupid"></div>

        <div class="panel panel-grey">
          <div class="panel-body">
            <div class="page_div_holder">
              <div class="left_icon_part"><i class="fa fa-file-text-o"></i></div>
              <div class="right_text_part">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
            </div>

            <div class="post_image"><img src="images/side_dishes.jpg" alt="0"></div>

          </div>
        </div>

      </div>

    </div>

  </div>
</div>