<div class="content">
  <div class="container">
    <ul class="row">
      <li class="col-sm-3" ng-repeat="user in connections">
        <div class="profile_image_inn">
          <img fn-user-avatar="user" alt="0">
          <div class="connect_link_full"><a ui-sref="profile.view({id: user.userid})"> {{user | fnFullName}} </a></div>
        </div>
      </li>
    </ul>
    <div class="text-right">
      <button fn-go-home="profile.view" class="btn btn-warning">Back to Home</button>
    </div>
  </div>
</div>