<div class="content">
  <div class="container">
    <ul class="row">
      <li class="col-sm-3" ng-repeat="recipe in recipes">
        <div class="box-recipe">
          <img src="images/recipe1.jpg" alt="0">

          <div class="connect_link_full_top"><a ui-sref="recipe.detail({id: recipe.recipeid})">{{recipe.description}}</a></div>
        </div>
      </li>

    </ul>
    <div class="text-right">
      <a fn-go-home="business.view" class="btn btn-warning">Back to Home</a>
    </div>
  </div>
</div>