<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-grey">
          <div class="panel-body">
            <img ng-src="{{recipe.picture}}" alt="0" width="100%">
          </div>
        </div>
      </div>
      <div class="col-sm-9">


        <div class="panel panel-grey">
          <div class="panel-body">
            <div class="top-detail top-recipe">
              <h3>{{recipe.description}} </h3>
              Created by : <a ui-sref="profile.view({id: owner.id})">{{ owner.firstname }}</a><br>
              <img src="images/rating.png"> Ratings: 0.75

            </div>
            <strong>Average prep and cooking time:</strong> {{recipe.timetoprepare | fnHours}}<br>
            <strong>Number of serving:</strong> 8
            <div class="pull-right">
              <a href="#" class="btn btn-warning"><i class="fa fa-print"></i> Print</a>
              <a href="#" class="btn btn-warning"><i class="fa fa-share"></i>  Share</a>
            </div>
          </div>
        </div>

        <div class="panel panel-grey">
          <div class="panel-body">
            <ul class="info-business">

              <li class="row">
                <div class="col-sm-3"><strong>Brief recipe description:</strong></div>
                <div class="col-sm-9">
                  {{ recipe.description }}
                </div>
              </li>
              <li class="row">
                <div class="col-sm-3"><strong>Ingredients: </strong></div>
                <div class="col-sm-9">
                  &#9679;	1kg zucchini roughly chopped<br>
                  &#9679;	2 vegetable stock cubes<br>
                  &#9679;	500g unpeeled and roughly chopped potatoes<br>
                  &#9679;	1 cup sliced spring onion sliced plus more for serving<br>
                  &#9679;	Freshly grated nutmeg plus extra to serve<br>
                  &#9679; 100g extra-mature cheddar cheese plus a little extra to serve<br>

                </div>
              </li>
              <li class="row">
                <div class="col-sm-3"><strong>Directions: </strong></div>
                <div class="col-sm-9">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s
                </div>
              </li>
            </ul>
          </div>
        </div>



      </div>



    </div>

  </div>
</div>